<!DOCTYPE html>
<html>
    <head>
        <title>Pokemon Statistics</title>
        <style>
            table, th, td {
                text-align: left;
                border: 1px solid;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Pokemon Statistics</h1>
        <table>
        <tr>
            <th>Most Common Type of Pokemon</th>
            <td>{{mostCommonType}}</td>
        </tr>
        <tr>
            <th>Average HP of Pokemon</th>
            <td>{{averageHP}}</td>
        </tr>
        <tr>
            <th>Weakest attack power of any pokemon</th>
            <td>{{weakestAttack}}</td>
        </tr>
        <tr>
            <th>Toughest Pokemon (HP + Attack)</th>
            <td>{{toughestPokemonName}} with a score of {{toughestPokemon}}</td>
        </tr>
        </table>
    </body>
</html>